<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.db.testimonialMapper">

	<!-- 상세페이지 - 찜 -->
	<insert id="likeCheck" parameterType="testimonialVO">
  		insert into MEMBERINFO (LIKE_CHECK) values("1")
  	</insert>
  	<!-- 찜 -->
  	<!-- <update id="likeCheck" parameterType="testimonialVO">
  		update memberinfo
  		set like_check = like_check + 1
  		where member_id = #{member_id} and movie_id = #{movie_id}
  	</update>
  	찜 취소
  	<update id="likeCheck_cancel" parameterType="testimonialVO">
  		update memberinfo
  		set like_check = 0
  		where member_id = #{member_id} and movie_id = #{movie_id}
  	</update> -->
  	
  	
  	
	<!-- 상세페이지 - 영화 정보 -->
	<select id="SelectMovie" resultType="testimonialVO" parameterType="testimonialVO">
		select * from movies where movie_id=#{movie_id}
	</select>
	
</mapper>