@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #1e1e1e;
    font-family: 'Noto Sans KR', sans-serif;
}
/********** Template CSS **********/
:root {
    --primary: #7c7c7c;
    --light: #F0FBFC;
    --dark: #ffffff;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Noto Sans KR', sans-serif;
    /* font-weight: 600; */
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #1e1e1e;
    font-size: 18px;
    text-transform: uppercase;
    outline: none;
}

/* .navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
} */

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #000000;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

/* ai 추천 */
#openBtn{
    background-color: transparent; 
    text-decoration: none; 
    border-style: none;
}

#openBtn:hover{
    color:white;
}

.modal__content > button{
    all:unset;
    background-color: #1e1e1e;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;

}

.modal{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__overlay{
    background-color: rgba(3, 3, 3, 0.650);
    width: 100%;
    height: 100%;
    position: absolute;
}

.modal__content{
    background-color: #1e1e1ee0;
    color: white;
    padding: 50px 100px;
    text-align: center;
    position: relative;
    top:0px;
    border-radius: 40px;
    width: 60%;
    height: 60%;
    box-shadow: 0 14px 28px rgba(2, 2, 2, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.modal__content button{
    transform: translate(597px, -27px);
    
}

.modal__title{
    margin: 0;
    padding-bottom: 50px;
    /* margin-bottom: 100px; */
}

.hidden{
    display: none;
}

.ai-slick-wrapper{
    width:100%;
    height: auto;
}

.ai-slick-item > img{
    width: 230px;
    height: 356px;
    border-radius: 15px;
    margin:auto;
}

.ai-navigator{    
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: opcacity 0.5s ease;
    transform: translateY(-200px);
}

.modal__content:hover .ai-navigator{
    opacity: 1;
}

.ai-navigator > i{
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: 1px;
    padding: 10px;
    cursor: pointer;
    margin-left: -44px;
    margin-right: -49px;
}

/* search */
.search-form {
    position: relative;
    width: 200px;
    height: 20px;
    border-radius: 40px;
    /* box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); */
    transform: translate(-20px, 21.5px);
    background: transparent;
    transition: all 0.3s ease;
}

.search-input {
    position: absolute;
    top: 10px;
    left: 38px;
    font-size: 15px;
    background: none;
    color: #ffffff;
    width: 195px;
    height: 16px;
    border: none;
    appearance: none;
    outline: none;
    margin-left: 2px;
}

.search-input::-webkit-search-cancel-button {
    appearance: none;
}

.search-button {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 15px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none !important;
    cursor: pointer;
}

.search-button svg {
    width: 25px;
    height: 20px;
    fill: #ffffff;
}

/* mypage */
#dropdown-mypage{
    background-color: #1e1e1e;
    border-radius: 5px;
    color: #fff;

}

/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.show-movie-item-text{
    font-size: 25px;
    font-weight: lighter;
    color:#F0FBFC;
}

.service-item {
    /* background: var(--light); */
    transition: .5s;
    vertical-align: middle;
}

.service-item:hover {
    margin-top: -10px;
    /* background: var(--primary); */
}

.service-item img{
    width: 270px;
    border-radius: 15px;
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}

.navigator {    
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: opcacity 0.5s ease;
    transform: translateY(-251px);
}

.container:hover .navigator {
    opacity: 1;
}
.navigator > i{
    color: rgb(141, 141, 141);
    font-size: 20px;
    border: 1px;
    /* background-color: rgb(4, 255, 0); */
    padding: 10px;
    cursor: pointer;
    margin-left: -44px;
    margin-right: -34px;
    
}

/* .slider:hover .navigation {
    opacity: 1;
} */


/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.search-keyword-img {
	width: 235px;
	height: 336px;
    border-radius: 10px;
}
