@charset "UTF-8";

@import
	url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap")
	;

body {
	 position: static;
  margin: 0px auto;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif; 
  background-image:  linear-gradient(rgba(0, 0, 0, 0.527), 
  rgba(0, 0, 0, 10)),
  url("img/poster.jpg");
  background-color: #000;/* 까만색(0,0,0) */    
  min-height: 100vh;

}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95vh;
	width: 100%;
	font-size:100px;
}

/*제목 RIVVIA  */
.logo {
	font-style: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: -1px;
  text-align: left;
  padding-bottom: 10px;
  color: #c657e1;
  margin: 0px 0px 0px 22px;
  cursor:pointer;
  text-decoration: none;
}
/* Main 로그인  */
.logo_login{
	font-size: 30px;
	color : white;
	transform: translateY(-100px);
	text-align:center;
	
}

/*버튼 전체   */
.btn_wrap_line{
	transform: translateY(-100px);
	display: block;	
	height: auto;
	width: 150%;
	margin:0px 0px 0px -50px;
    font-size: -0.667rem;
    font-weight: normal;
    text-align: center;
     
	   
     
     
      
}


#rvLogin{	 
	padding: 1.675rem 0;
	background-color: #000;
	color: #a3a3a3;
	border: thick;
    margin: 0px 0px 20px 0px;
    background-image:url("./img/RIVVIA_logo.png");
	background-position: 1.5rem 50%;
    background-repeat: no-repeat;
    background-size: 1.8rem auto;
    cursor:pointer;
    
}
	   
	   
	  


#nvLogin{
	 
	padding: 1.675rem 0;
	background-color: #000;
  	color: #a3a3a3;
  	border: thick;
  	margin: 0px 0px 20px 0px;
  	background-image:url("./img/Naver_logo.png");
	background-position: 1.5rem 50%;
    background-repeat: no-repeat;
    background-size: 1.8rem auto;
    cursor:pointer;
	  
}

#kaLogin{
	 
	padding: 1.675rem 0;
	background-color: #000;
	color: #a3a3a3;
	border: thick;
	margin: 0px 0px 20px 0px;
	background-image:url("./img/Kakao_logo.jpg");
	background-position: 1.5rem 50%;
    background-repeat: no-repeat;
    background-size: 1.8rem auto;
	cursor:pointer;
}

#faLogin{
	 
	padding: 1.675rem 0;
  	background-color: #000;
  	color: #a3a3a3;
  	border: thick;
  	margin: 0px 0px 20px 0px;
  	background-image:url("./img/Facebook_logo.jpg");
	background-position: 1.5rem 50%;
    background-repeat: no-repeat;
    background-size: 1.8rem auto;
	cursor:pointer;
}

#apLogin{
	
	padding: 1.675rem 0;
	background-color: #000;
	color: #a3a3a3;
	border: thick;
	margin: 0px 0px 20px 0px;
	background-image:url("./img/Apple_logo.jpg");
	background-position: 1.0rem 50%;
    background-repeat: no-repeat;
    background-size: 3.0rem auto;
	cursor:pointer;  
}